<div class="app-content">
<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Название фильма" name="fillName" [(ngModel)]="filmName" (keyup.enter)="getFilms()"/>
  </md-input-container>
</form>
<md-grid-list cols="2" rowHeight="550px">
  <md-grid-tile *ngFor="let film of filmList">

    <md-card class="film-card">
      <img md-card-image src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}">
      <md-card-content>
        <md-card-title>{{film.title}}</md-card-title>
        <p>
          Год: {{film.release_date}}
        </p>
        <p>
          {{film.overview}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>Подробнее</button>
      </md-card-actions>

    </md-card>

  </md-grid-tile>
</md-grid-list>
</div>
